bin/
Genealogia.war
*.class
war/WEB-INF/lib/spring-*-4.3.1.RELEASE.jar
war/WEB-INF/lib/commons-logging-1.2.jar
war/WEB-INF/lib/*.jar
test-output/
war/WEB-INF/classes/
hsqldb/genealogia.log
hsqldb/build.xml
docs/mchange-commons-java-0.2.11-sources.jar
hsqldb/genealogia.lck
lib/mchange-commons-java-0.2.11.jar
/output/
